<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:Genexy@126.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="my rss" target="_blank" href="https://www.genexy.cn/cross.html"><i class="icon fa fa-rss" aria-hidden="true"></i></a>
        <a aria-label="下载云" target="_blank" href="https://pan.genexy.cn/s/NXTN?path=%2F"><i class="icon fa fa-cloud-download" aria-hidden="true"></i></a>
        <a aria-label="关于我" target="_blank" href="https://www.genexy.cn/me.html"><i class="icon fa fa-user" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/GENE-XY"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
